*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App{
  background-color: #dddedd;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  margin: 2px;
  justify-content: center;
  align-items: center;
}
*::-webkit-scrollbar{
  display: none;
}